<div class="row">
    <div class="col-md-5 col-sm-6 col-xs-12">
        <!-- <app-recipe-list (slectedRec) =finalSelectedRec($event)></app-recipe-list> -->
        <app-bear-list></app-bear-list>

    </div>
    <div class="col-md-7 col-sm-6 col-xs-12">
        <!-- <app-recipe-details  *ngIf="recipeToPop ; else  noResipe" [recipesDetail]="recipeToPop"></app-recipe-details> -->
        <app-bear-details></app-bear-details>
    </div>
    <!-- <ng-template #noResipe>Please select Recipe</ng-template> -->
</div>